body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;

}

ul {
    width: 20vw;
    overflow: hidden;
    overflow-y: scroll;
}

#map {
    width: 80vw;
}

ul, #map {
    height: 400px;
}